.home {
    padding-top: 73px;
}

.home-texto {
    padding-top: 83px;
    padding-bottom: 83px;
    margin-top: -5px;
    background-color: #eae9de;

    h6 {
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        color: #7d6b3f;
        letter-spacing: 2px;
        margin: 0 0 0 0;
    }

    p {
        font-size: 15px;
        line-height: 30px;
        font-weight: 600;
        color: #7d6b3f;
        margin: 15px 0 0 0;
    }
}


/* Extra Small */
@media(max-width:767px) {
    .home {
        padding-top: 61px;
    }

    .home-texto {
        padding-top: 15px;
        padding-bottom: 15px;

        h6 {
            font-size: 17px;
            line-height: 20px;
        }

        p {
            font-size: 12px;
            line-height: 20px;
            margin: 7px 0 0 0;
            text-align: justify;
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {
    .home {
        padding-top: 78px;
    }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}