.terrasdesantacruz {
    background: url(../images/bg-produtos.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -5px;

    h6 {
        font-size: 40px;
        line-height: 40px;
        font-weight: 700;
        color: #391f1b;
        margin: 20px 0 10px 0;
        text-transform: uppercase;
    }

    .leng-h6 {
        font-size: 13px;
        line-height: 13px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        margin: 0 0 0 0;
        background-color: #846c3c;
        padding: 9px 10px 9px;
    }

    .box-img {
        span {
            font-size: 13px;
            line-height: 13px;
            font-weight: 600;
            display: table;
            background-color: #a99333;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            right: 20px;
            top: -15px;
            padding: 10px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .media {
        margin-top: 30px;

        .media-body {
            vertical-align: middle;
        }


        .terras {
            .media-object {
                width: 200px;
                height: 153px;
            }
        }

        p {
            font-size: 15px;
            line-height: 20px;
            font-weight: 600;
            color: #8b8a8a;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 5px 0 0 0;
        }

        a {
            font-size: 13px;
            line-height: 13x;
            font-weight: 500;
            background-color: #7d6b3f;
            color: #fff;
            text-transform: uppercase;
            padding: 5px 8px;
            margin: 10px 0 0 0;
            display: table;
        }
    }

    .box {
        margin-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
    }
}
.home {
    .galeria-04-hover {
        position: absolute;
        left: 0;
        top: 0;
    }
}
.home:hover {
    .galeria-04-hover {
        opacity: 0;
    }
}


/* Extra Small */
@media(max-width:767px) {
    .terrasdesantacruz {
        background: transparent;
        padding-top: 20px;

        h6 {
            font-size: 20px;
            line-height: 20px;
            margin: 0 0 10px 0;
        }

        .leng-h6 {
            font-size: 10px;
            line-height: 10px;
            margin: 0 0 0 0;
        }

        .box-img {
            span {
                font-size: 10px;
                line-height: 10px;
                font-weight: 600;
                position: absolute;
                right: 10px;
                top: -10px;
                padding: 7px;
            }
        }

        .box {
            margin-bottom: 10px;
            padding-right: 5px;
            padding-left: 5px;
        }

        .media {
            margin-bottom: 20px;
            margin-top: 10px;

            .terras {
                .media-object {
                    width: 100px;
                    height: 77px;
                }
            }

            p {
                font-size: 10px;
                line-height: 13px;
                margin: 5px 0 0 0;
            }

            a {
                font-size: 11px;
                line-height: 13px;
                padding: 5px 8px;
                margin: 5px 0 0 0;
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}